{% extends 'base.html' %}
{% block title %}Опубликовать пост{% endblock title %}
{% block content %}
    <h1>Создать новый пост</h1>
    <form action="{% url 'new_post' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="titlePost">Заголовок поста:</label>
            <input type="text" name="titlePost" id="titlePost" placeholder="максимальная длина 200 символов" required>

        </div>
        <div>
            <label for="textPost">Текст поста:</label>
            <textarea name="textPost" id="textPost" rows="3"></textarea>

        </div>
        <input type="submit" value="Опубликовать пост">
    </form>
{% endblock content %}
